@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap');

$screenRatio: 1;
.adminNavbar {
  display: flex;
  flex-direction: row;
  margin-left: 20px * $screenRatio;
}

.navbar-link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 14px * $screenRatio;
  color: #575757;
  text-decoration: none;
  padding: 10px * $screenRatio;
  transition: text-shadow 0.3s;
}

.navbar-link:hover:not(.router-link-exact-active) {
  color: #191919;
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.router-link-active {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px * $screenRatio;
  color: #191919;
  font-weight: bold;
  text-decoration: underline;
}
