@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

$screenRatio: 1;

.usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 744px*$screenRatio;
    align-self: center;
}

.headingDiv {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading {
    width: $screenRatio * 192px;
    height: $screenRatio * 28px;
}

.searchBar {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #f2f2f2;
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 60%;

    .searchBtn {
        background-color: transparent;
        border: none;
    }

    .searchImg {
        margin-top: 2px;
        width: auto;
        height: auto;
    }

    .query {
        width: 90%;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    .query:focus {
        outline: none;
    }

    .searchBtn:focus {
        outline-color: rebeccapurple;
    }
}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    margin-top: 30px;

    .sortText {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: rgba(57, 57, 57, 0.9);
        margin-right: 8px;
    }

    .sortOption {
        font-size: 14px;
        line-height: 24px;
        color: rgba(87, 87, 87, 0.75);
        margin: 0px 8px;
    }

    .sortOption:hover {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #191919;
        border-bottom: 2px solid #FF6700;
    }

    .active {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #191919;
        border-bottom: 2px solid #FF6700;
    }

    .dropdown {
        margin-left: auto;
        width: 200px;

        .filterText {
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #575757;
        }

        .filterSelection {
            margin-left: auto;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: rgba(57, 57, 57, 0.9);
            margin-right: 8px;
        }
    }

    .selection {
        width: 200px;
    }
}