@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap');

$screenRatio: 1;

.adminFooter {
  display: flex;
  flex-direction: row;
  height: 204px * $screenRatio;
  background-color: #e7e7e7;
  margin-bottom: -8px;
  margin-top: 197px;
}

.playCtf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 204px * $screenRatio;
}
.title {
  text-align: left;
  vertical-align: middle;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 32px * $screenRatio;
  line-height: 24px * $screenRatio;
  margin-bottom: 0px;
}
.reachUs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px * $screenRatio;
  line-height: 32px * $screenRatio;
}
.link {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px * $screenRatio;
  line-height: 32px * $screenRatio;
  margin-left: 10px;
  color: #593c8f;
  text-decoration: none;
}
.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 550px * $screenRatio;
}
.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px * $screenRatio;
}
