@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

$screenRatio: 1;

.lbContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 744px*$screenRatio;
  align-self: center;
}

.headingDiv {
  align-items: flex-start;

  .heading {
    align-self: flex-start;
    width: $screenRatio * 192px;
    height: $screenRatio * 28px;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f2f2f2;
  box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.searchBtn {
  background-color: transparent;
  border: none;
}

.searchImg {
  margin-top: 2px;
  width: auto;
  height: auto;
}

.query {
  width: 90%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.query:focus {
  outline: none;
}

.searchBtn:focus {
  outline-color: rebeccapurple;
}
