@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

$screenRatio: 1;

.lbContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:680px*$screenRatio;
}

.heading {
  width: $screenRatio * 192;
  height: $screenRatio * 28;
}

.searchBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f2f2f2;
  box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.searchBtn {
  background-color: transparent;
  border: none;
}

.searchImg {
  margin-top: 2px;
  width: auto;
  height: auto;
}

.query {
  width: 90%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.query:focus {
  outline: none;
}

.searchBtn:focus {
  outline-color: rebeccapurple;
}

%backgroundColor {
  background: #e7e7e7;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  .heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    color: #ff6700;

    .board {
      color: black;
    }
  }

  .leaderboardTable {
    border-spacing: 0;

    .columnHeading1 {
      text-align: center;
      width: 72px;
    }

    .columnHeading2 {
      width: 600px;
      padding-left: 20px;
    }

    .columnHeading3 {
      text-align: center;
      width: 72px;
    }

    td {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
    }

    .rank {
      text-align: center;
    }

    .teamName {
      padding-left: 20px;
      color: #593c8f;
    }

    .score {
      text-align: center;
    }

    width: 648px;
    margin-top: 50px;

    th {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
    }

    tr {
      height: 32px;
    }

    tr:nth-child(2n + 1) {
      @extend %backgroundColor;
    }

    .number {
      display: inline-block;
      padding: 4px 10px;
      color: #fff;
      border-radius: 4px;
      background-color: #f7f7f7;
      margin: 0px 5px;
      cursor: pointer;
    }
  }
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pageItem {
  width: 15px*$screenRatio;
  margin-left: 5px*$screenRatio;
  margin-right: 5px*$screenRatio;
  outline: none;
}

.pageItem.active {
  color: #191919;
  font-weight: bold;
}

.nextItem {
  color: #593C8F;
  margin-left: 10px*$screenRatio;
  outline: none;
}

.nextItem.disabled {
  color: rgba(89, 60, 143, 0.57);
}

.prevItem {
  color: #593C8F;
  margin-right: 10px*$screenRatio;
  outline: none;
}

.prevItem.disabled {
  color: rgba(89, 60, 143, 0.57);
}

.paginateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px*$screenRatio;
  line-height: 16px*$screenRatio;
  color: #575757;
  justify-content: space-between;
  margin-top: 20px*$screenRatio;
}

.jumpPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#191919;
  font-weight: bold;
}

.pageInput{
  margin-left: 5px*$screenRatio;
  color:#191919;
  background: #F2F2F2;
  box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-align: center;
  outline: none;
  width: 40px*$screenRatio;
}