@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
$screenRatio: 1;

.challengesContainer {
    display: flex;
    flex-direction: row;
    width: 830px*$screenRatio;
    margin-bottom: 300px*$screenRatio;
}

.verticalNav {
    width: 66px*$screenRatio;
    height: 290px*$screenRatio;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-right: auto;

    .navButton {
        font-family: 'Nunito Sans';
        font-style: normal;
        background-color: white;
        border: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: rgba(87, 87, 87, 0.75);
        text-align: right;
        outline: none;
    }

    .navButton:hover {
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: #191919;
        border-right: 2px solid #FF6700;
    }

    .active {
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: #191919;
        border-right: 2px solid #FF6700;
    }
}

.mainContainer {
    margin-left: 20px*$screenRatio;
    width: 744px*$screenRatio;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans';
    font-style: normal;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .headingName {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #191919;
    }

    .addChallenge {
        background: #FF6700;
        border-radius: 3px;
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 12px;
        border: none;
    }

    .addImg {
        width: 15px*$screenRatio;
        height: 15px*$screenRatio;
        margin: 0px 5px;
    }

    .addText {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }

}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    margin-top: 30px;

    .sortText {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: rgba(57, 57, 57, 0.9);
        margin-right: 8px;
    }

    .sortOption {
        font-size: 14px;
        line-height: 24px;
        color: rgba(87, 87, 87, 0.75);
        margin: 0px 8px;
    }

    .sortOption:hover {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #191919;
        border-bottom: 2px solid #FF6700;
    }

    .active {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #191919;
        border-bottom: 2px solid #FF6700;
    }

    .dropdown {
        margin-left: auto;
        width: 200px;

        .filterText {
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #575757;
        }

        .filterSelection {
            margin-left: auto;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: rgba(57, 57, 57, 0.9);
            margin-right: 8px;
        }
    }

    .selection {
        width: 200px;
    }
}

.challenges {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 744px * $screenRatio;
    justify-content: space-between;
}