@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

$screenRatio: 1;

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px * $screenRatio;
  line-height: 28px * $screenRatio;
  text-align: left;
}

.important {
  color: red;
}

.preview-button {
  margin-left: 14px;
  font-size: 14px * $screenRatio;
  line-height: 28px * $screenRatio;
  padding: 2px 12px;
  height: 32px;
  width: 140px;
  background: #ffffff;
  border: 1.5px solid #393939;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(37, 85, 124, 0.1);
  border-radius: 3px;

  .preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.fields {
  text-align: left;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px * $screenRatio;
  line-height: 18px * $screenRatio;
  margin: 5px;
}

.subfields {
  font-size: 12px * $screenRatio;
  text-align: left;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 18px * $screenRatio;
  margin: 5px;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .timeSub {
    display: flex;
    flex-direction: row;
  }
}

.themes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .sub-themes {
    border: 0cm;
    background: none;
    display: flex;
    flex-direction: column;

    .block {
      width: 120px;
      height: 85.33px;
      background: #c4c4c4;
      border: none;
    }

    .block:focus {
      border: 2px solid #ff6700;
      box-sizing: border-box;
    }
  }
}

label {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px * $screenRatio;
  line-height: 18px * $screenRatio;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 115px;
  padding: 7px;
  height: 32px;
  background: #ffffff;
  border: 1.5px solid #393939;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(37, 85, 124, 0.1);
  border-radius: 2px;
}

.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px * $screenRatio;
  line-height: 28px * $screenRatio;
}

.submitButton {
  background-color: #ff6700;
  border-radius: 2px;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px * $screenRatio;
  line-height: 28px * $screenRatio;
  padding: 8px 16px 8px 16px;
  border: none;
  margin-left: auto;
}

.form {
  margin-top: 30px * $screenRatio;
  margin-bottom: 40px * $screenRatio;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  height: 48px * $screenRatio;
  border-radius: 2px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  padding-left: 16px * $screenRatio;
  margin-bottom: 10px * $screenRatio;
}

.title::placeholder {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px * $screenRatio;
  line-height: 48px * $screenRatio;
}

.title:focus {
  border: 1.5px solid #593c8f;
  box-shadow: 0px 2px 10px rgba(37, 85, 124, 0.1);
}

textarea {
  height: 96px * $screenRatio;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  padding-left: 16px * $screenRatio;
  padding-top: 15px * $screenRatio;
  margin-bottom: 10px * $screenRatio;
}

textarea::placeholder {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px * $screenRatio;
  line-height: 18px * $screenRatio;
}

textarea:focus {
  border: 1.5px solid #593c8f;
  box-shadow: 0px 2px 10px rgba(37, 85, 124, 0.1);
}

.notifTabs {
  margin-top: 40px * $screenRatio;
  height: 600px * $screenRatio;
  overflow-y: scroll;
}

.notifTabs::-webkit-scrollbar {
  display: none;
}