@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

$screenRatio: 1;
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px * $screenRatio;
  line-height: 28px * $screenRatio;
  text-align: left;
}

.important {
  color: red;
}

.fields {
  text-align: left;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px * $screenRatio;
  line-height: 18px * $screenRatio;
  margin: 5px;
}

.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px * $screenRatio;
  line-height: 28px * $screenRatio;
}

.submitButton {
  background-color: #ff6700;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px * $screenRatio;
  line-height: 28px * $screenRatio;
  padding: 8px 16px 8px 16px;
  border: none;
  margin-left: auto;
}

.form {
  margin-top: 30px * $screenRatio;
  margin-bottom: 40px * $screenRatio;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  height: 48px * $screenRatio;
  border-radius: 5px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  padding-left: 16px * $screenRatio;
  margin-bottom: 10px * $screenRatio;
}
.title::placeholder {
  font-family: 'Nunito Sans';

  font-style: normal;
  font-weight: 600;
  font-size: 16px * $screenRatio;
  line-height: 18px * $screenRatio;
}

textarea {
  height: 96px * $screenRatio;
  border-radius: 5px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  padding-left: 16px * $screenRatio;
  padding-top: 15px * $screenRatio;
  margin-bottom: 10px * $screenRatio;
}

textarea::placeholder {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px * $screenRatio;
  line-height: 18px * $screenRatio;
}

.notifTabs {
  margin-top: 40px * $screenRatio;
  height: 600px * $screenRatio;
  overflow-y: scroll;
}
.notifTabs::-webkit-scrollbar {
  display: none;
}
