@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

%backgroundColor {
  background: #e7e7e7;
}

.headerComponent {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dropdown {
  border: 1px solid rgba(87, 87, 87, 0.7);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Nunito Sans';
  font-size: 12px;
  line-height: 20px;
  margin-left: auto;
  width: 200px;

  .filterText {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #575757;
  }

  .filterSelection {
    margin-left: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: rgba(57, 57, 57, 0.9);
    margin-right: 8px;
  }
}

.leaderboard {
  text-align: left;

  .heading {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    color: black;
  }

  .leaderboardTable {
    width: 100%;

    tr {
      height: 32px;
    }

    tr:nth-child(2n + 1) {
      @extend %backgroundColor;
    }

    .number {
      display: inline-block;
      padding: 4px 10px;
      color: #fff;
      border-radius: 4px;
      background: #44475c;
      margin: 0px 5px;
      cursor: pointer;
    }
  }
}