@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

%backgroundColor {
    background: #E7E7E7;
}

.leaderboard {
    margin-left: 349px;
    text-align: left;
    .heading {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        line-height: 28px;
        font-weight: 900;
        color: #FF6700;
        .board {
            color: black;
        }
    }
    .leaderboardTable {
        width: 648px;
        tr {
            height: 32px;


        }
        tr:nth-child(2n+1) {
            @extend %backgroundColor;
        }
        .number {
            display: inline-block;
            padding: 4px 10px;
            color: #FFF;
            border-radius: 4px;
            background: #44475C;
            margin: 0px 5px;
            cursor: pointer;
          }
    }
}