@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

$screenRatio: 1;
.tab {
  height: 96px * $screenRatio;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(25, 25, 25, 0.1);
  border-radius: 3px;
  margin-bottom: 40px;
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: 28px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.title {
  font-weight: bold;
  text-align: left;
  width: 60%;
  margin-bottom: 0;
}

.timeAgo {
  text-align: right;
  color: #593c8f;
  width: 40%;
  margin-bottom: 0;
}
.desc {
  margin-top: 0;
}
