.adminChalLink {
    width: 44%;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 0.625rem 0.625rem;
    box-shadow: 0 0.125rem 0.625rem $theme-color-black-low-transp;
    margin-bottom: 0.75rem;

    .adminChallItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .adminChallDetails {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.25rem;
            
            .adminChallName {
                @extend %font-style-basic;
                font-size: 1rem;
                line-height: 1.125rem;
                overflow-x: hidden;
                overflow-y: hidden;
                margin-right: 0.5rem;
            }
            
            
            .adminChallStatus {
                @extend %font-style-basic;
                font-weight: 300;
                line-height: 0.875rem;
                text-align: right;
                color: $theme-color-grey57;
                margin-left: auto;
            }
        }
        
        .adminChallStats {
            display: flex;
            flex-direction: row;
            @extend %font-style-basic;
            font-size: 1rem;
            line-height: 1.125rem;
            color: $theme-color-black-med-transp;
            
            .adminChallPoints {
                border-right: 0.125rem solid $theme-color-black-med-transp;
                padding-right: 0.3125rem;
            }
            
            .adminChallSolves {
                padding-left: 0.3125rem;
            }

            .challengesCheckBox{
                position: relative;
                margin-left: auto;
                margin-right: 0px;
            }
        }
    }
}

.deployedLink {
    border-left: 0.3125rem solid $theme-color-green-high-transp;
}

.purgedLink {
    border-left: 0.3125rem solid $theme-color-red;
}

.undeployedLink {
    border-left: 0.3125rem solid $theme-color-yellow-high-transp;
}

.inProgressLink {
    border-left: 0.3125rem solid $theme-color-light-blue;
}

.adminTags {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.25rem;
    margin-top: 0.25rem;

    .challengesCheckBox{
        position: relative;
        top: 0.4rem;
        bottom: 0px;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 0px;

        input{
            bottom: 0;
            position: relative;
        }
    }
}

.adminChallCategory {
    width: max-content;
    vertical-align: middle;
    background: $theme-color-violet;
    border-radius: 0.125rem;
    font-family: $secondary-font-family;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $theme-color-white;
    padding: 0.25rem 0.625rem;
    margin-bottom: 0.25rem;
    text-align: left;
}
