.adminChalInfo {
    display: flex;
    flex-direction: column;
    background: #121212;
    box-shadow: 0 0.375rem 0.625rem rgba(87, 87, 87, 0.07);
    border-radius: 0.3125rem;
    padding: 1.875rem;

    .changeButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #121212;
        border: 1.0.3125rem solid #a5a5a5;
        box-sizing: border-box;
        box-shadow: 0 0.125rem 0.625rem rgba(37, 85, 124, 0.2);
        border-radius: 0.1875rem;
        @extend %font-style-basic;
        line-height: 1.5rem;
        color: #a5a5a5;
        padding: 0.25rem 0.625rem;
        margin: 0 0.625rem;

        img {
            size: 1rem;
            margin: 0 0.3125rem;
        }
    }

    .infoDetails {
        display: flex;
        flex-direction: row;

        .name {
            font-family: $primary-font-family;
            text-align: left;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #d7d6d7;
        }

        .category {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            background: #9744be;
            border-radius: 0.125rem;
            font-family: $secondary-font-family;

            font-weight: bold;
            font-size: 0.875rem;
            line-height: 1rem;
            color: #121212;
            padding: 0.25rem 0.625rem;
            margin-left: 1.25rem;
        }

        .status {
            margin-left: auto;
            font-family: $primary-font-family;

            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }

        .deployed {
            color: rgba(7, 60, 23, 1);
        }

        .purged {
            color: rgba(87, 18, 17, 1);
        }

        .undeployed {
            color: rgba(88, 75, 6, 1);
        }
    }

    .infoStats {
        display: flex;
        flex-direction: row;
        align-items: center;

        .pointSolves {
            display: flex;
            flex-direction: row;
            margin-top: 1.25rem;

            .point {
                border-right: 0.1875rem solid rgba(118, 118, 118, 0.799);
                padding-right: 0.8125rem;
                display: flex;
                flex-direction: column;
            }

            .solves {
                display: flex;
                flex-direction: column;
                padding-left: 0.625rem;
                padding-top: 0;
            }

            .value {
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 1.75rem;
                text-align: center;
                color: #d7d6d7;
            }

            .field {

                font-size: 1rem;
                line-height: 1.125rem;
                text-align: center;
                color: #747474;
            }
        }

        .changeChallengeStatus {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
        }
    }

    .chall-tags {
        display: flex;
        flex-flow: row wrap;
        column-gap: 0.25rem;
        row-gap: 0.25rem;
        margin-top: 0.625rem;
    }

    .category {
        text-align: center;
        vertical-align: middle;
        background: #9744be;
        border-radius: 0.125rem;
        font-family: $secondary-font-family;

        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #121212;
        padding: 0.25rem 0.625rem;
    }

    .aboutText {
        text-align: left;
        font-family: $secondary-font-family;


        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #a5a5a5;
        .tooltiptext{
            font-family: $primary-font-family !important;
            font-size: 11px !important;
            letter-spacing: 0;
            visibility: hidden;
            width: 120px;
            background-color: rgba(118, 118, 118, 0.799);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 3px 10px;
          
            /* Position the tooltip */
            position: relative;
            z-index: 1;
          }
          .challenge-link-code:hover .tooltiptext{
            visibility: visible;
          }
    }

    .aboutChallenge {
        margin: 0.625rem 0;
        ;
    }

    .host {
        line-height: 1rem;
        color: #9744be;
        margin: 0.625rem 0 0 0;
    }

    .testRun {
        width: 7.5rem;
        margin: 0;
    }

    .challenge-links{
        text-align: left;
        display: flex;
        flex-direction: column;
        a{
            color:#9744be;
        }
    }

    .link-heading{
        font-size: 1rem;
        font-family: $primary-font-family;
        font-weight: bold;
        line-height: 1rem;
        color: #d7d6d7;
        margin-block-start: 1em;
        margin-block-end: 0.3rem;
    }
}

.adminChallStatistics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.125rem;

    .adminChallSubmissions {
        margin-top: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .subheadingName {
        margin-bottom: 0.625rem;
        @extend %font-style-basic;
        text-align: left;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .info {
        @extend %font-style-basic;
        font-size: 1rem;
        line-height: 1.125rem;
        color: #747474;
        text-align: left;
    }
}

.hrSeparator {
    width: 100%;
    margin: 1rem 0;
    height: 0.0625rem;
    background-color: rgba(87, 87, 87, 0.2);
}

.challenge-action-btn {
    margin-left: 1rem;
}

.adminChallStatisticsContent {
    display: flex;

    .leftCol {
        width: 50%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;

        .adminChallSolves {
            margin-top: 1.875rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;


        }
    }

    .rightCol {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .graph {
            width: 100%;
        }
    }
}

.chartjs-size-monitor {
    position: relative;
    display: none;
}

.challenge-link {
    font-style: $primary-font-family;
    color: #9744be;
    text-decoration: none;
}