.mainAdminContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.checkbox {
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem;
}
.fade-leave-active {
  transition: opacity 1s;
}

.addFeedback {
  margin-left: 20%;
}

.adHeadingContainerWithFeedback {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.adNotifForm,
.form,
.landingInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5%;

  .important {
    color: red;
  }

  .adFormFields {
    text-align: left;
    @extend %font-style-basic;
    font-size: 0.875rem;
    margin: 0.75rem 0 0 0;
    color: $theme-color-black-high-transp;
  }

  .adminFormTitle {
    box-sizing: border-box;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid $theme-color-grey-high-transp;
    padding-left: 1rem;
    @extend %font-style-basic;
    margin-bottom: 1rem;
    width: 100%;
    color: $theme-color-black19;
  }

  .adminFormTitle::placeholder,
  textarea::placeholder {
    @extend %font-style-basic;
    color: $theme-color-grey-high-transp;
  }

  textarea {
    box-sizing: border-box;
    height: 6rem;
    border-radius: 0.3125rem;
    border: 1px solid $theme-color-grey-high-transp;
    @extend %font-style-basic;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 2%;
  }

  .confirmation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @extend %font-style-basic;
    color: $theme-color-grey-high-transp;
    font-size: 1rem;
    line-height: 1.75rem;
    label{
      text-align: left;
    }
  }

  @media(max-width:1450px){
    .confirmation{
      #checkbox{
        align-self: flex-start;
        margin-top: 8px;
      }
    }
  }

  textarea:focus,
  .adminFormTitle:focus {
    outline: 0;
    border: 2px solid $theme-color-violet;
    padding-left: calc(1rem - 1px);
  }

  textarea:focus {
    padding-top: calc(1rem - 1px);
  }
}

.adminEmptyDataContainer {
  margin-top: 2rem;
  text-align: center;
}

.adminEmptyData {
  text-align: center;
  padding: 2.5rem 2.5rem;
  @extend %font-style-bold;
  font-size: 2rem;
  line-height: 3rem;
  color: $theme-color-grey-high-transp;
}

.adminNotifTabs {
  margin-top: 4%;
  height: 31.25rem;
  overflow-y: scroll;
}

.adminNotifTabs::-webkit-scrollbar {
  display: none;
}

.adminSubmitButton {
  margin-left: auto;
}

.adminProcSubmitButton {
  background: rgba(255, 103, 0, 0.57);
  box-shadow: none;
}
