.adSubContainer {
  width: 80%;
  margin-left: 10%;
}
.adHeaderComponent {
  display: flex;
  justify-content: space-between;
}
.adSubHeaderComponent {
  text-align: left;
  @extend %font-style-bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $theme-color-black19;
}