.adminLandingProgress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    .progress{
        width: 10%;
        height: 0.25rem;
        border-radius: 0.1875rem;
        background-color: rgba(118, 118, 118, 0.799);
    }

    .completed{
        background-color: #fcfcfe;
    }

    .current{
        background-color: #e44f26;
        width: 40%;
    }
}