.adminHeadingColor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.adminLbSearchHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.adminHeadingColor {
  width: 12rem;
  height: 1.75rem;
}

.adminLbSearchDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2% 0;
}

.lineGraph {
  padding-top: 1rem;
}