.adminHeadingColor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.adminHeadingColor {
  width: 12rem;
  height: 1.75rem;
}

.adminLbSearchDiv {
  width: 60%;
  margin: 2% 20%;
}

.lineGraph {
  padding-top: 1rem;
}