.adminChalLink {
    width: 44%;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 0.625rem 0.625rem;
    box-shadow: 0 0.125rem 0.625rem rgba(41, 40, 40, 0.5);
    margin-bottom: 0.75rem;

    .adminChallItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .adminChallDetails {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.25rem;
            
            .adminChallName {
                @extend %font-style-basic;
                font-size: 1rem;
                line-height: 1.125rem;
                overflow-x: hidden;
                overflow-y: hidden;
                margin-right: 0.5rem;
            }
            
            
            .adminChallStatus {
                @extend %font-style-basic;
                font-weight: 300;
                line-height: 0.875rem;
                text-align: right;
                color: #747474;
                margin-left: auto;
            }
        }
        
        .adminChallStats {
            display: flex;
            flex-direction: row;
            @extend %font-style-basic;
            font-size: 1rem;
            line-height: 1.125rem;
            color: rgba(153, 153, 153, 1);
            .adminChallCategory{
                border-right: 0.125rem solid rgba(153, 153, 153, 1);
                padding-right: 0.3125rem;
            }
            .adminChallPoints{
                border-right: 0.125rem solid rgba(153, 153, 153, 1);
                padding: 0 0.3125rem;
            }
            
            .adminChallSolves {
                padding-left: 0.3125rem;
            }
        }
    }
}

.deployedLink {
    border-left: 0.3125rem solid rgba(7, 60, 23, 1);
}

.purgedLink {
    border-left: 0.3125rem solid #aa3126;
}

.undeployedLink {
    border-left: 0.3125rem solid rgba(88, 75, 6, 1);
}

.inProgressLink {
    border-left: 0.3125rem solid #808cad;
}

.adminTags {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.25rem;
    margin-top: 0.25rem;
    align-items: center;

    .challengesCheckBox{
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 0px;

        input{
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.adminChallTags {
    width: max-content;
    vertical-align: middle;
    background: #9744be;
    border-radius: 0.125rem;
    font-family: $secondary-font-family;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #121212;
    padding: 0.25rem 0.625rem;
    margin-bottom: 0.25rem;
    text-align: left;
}
