.postChall-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} 

.team-goals-img
{
  width: 20rem;
  height: 20rem;
}
 
.postMessage{
  font: Nunito Sans;
  font-size: 1.7rem;
}  
