.auth {
  width: 100%;

  .auth-subheading {
    @extend %font-style-basic;
    color: $theme-color-grey57;
    text-align: left;
  }

  .auth-button {
    margin-top: 1.75rem;
  }

  .auth-image {
    width: 60%;
  }

  .auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    .heading {
      font-family: $primary-font-family;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 2.75rem;
      color: $theme-color-grey39;
      text-align: left;
    }
  }

  .form-div {
    width: 100%;
    margin-left: 0rem;
    margin-top: 0.75rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form {
      width: 35%;

      .inputField {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
