.preChall-container{
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.hourglass-img{
  height: 20rem;
  width: 20rem; 
}
 
.preMessage.p{
  font: Nunito Sans;
  font-size: 10rem;
  font-weight: 600;
}
