.pre-chall-container{
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.hourglass-img{
  height: 20rem;
  width: 20rem; 
}
 
.pre-message{
  .pre-message-text {
    font-family: $primary-font-family;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $theme-color-grey39;
    font-weight: 600;
  }
}

.timer-sec {
  .timer2-text{
    font-family: $secondary-font-family;
    font-size: 2rem;
    line-height: 3.75rem;
    color: $theme-color-grey39;
    font-weight: 600;
  }
  display: flex;
  flex-direction: row;
  gap:2px;
  .seconds-timer{
    color: $theme-color-dark-orange;
  }
}
