.challenge-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .challenge {
        margin-bottom: 8rem;
        display: flex;
        flex-direction: row;
        width: 100%;

        .chall-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            .chall {
                display: flex;
                flex-direction: row;
                margin-top: 1.125rem;
                width: 100%;
            }
        }
    }

    .chall-tags {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-top: 12rem;
        margin-right: auto;
        margin-left: -6rem;

        .tags {
            display: flex;
            flex-direction: column;
            width: 4.375rem;
            text-align: left;
            align-items: flex-end;
            justify-content: flex-start;

            .tag {
                font-family: $primary-font-family;
                
                font-size: 1rem;
                color: rgba(87, 87, 87, 0.75);
                margin-bottom: 2rem;
                padding-right: 1rem;
            }

            .tag.active, .tag:hover{
                font-weight: bold;
                color: #d7d6d7;
                border-right: 0.125rem solid #e44f26;
            }
        }
    }
}