.challengesByTag {
    width: calc(30% - 1.5rem);
    min-width: 12.5rem;
    padding: 0;
    color: $theme-color-black19;
    text-align: left;

    .challengesByTag-tag {
        font-family: $primary-font-family, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        line-height: 2rem;
        margin-left: 0.75rem;
        height: 2rem;
        // margin-bottom: -0.9375rem;
    }

    .challengesByTag-challenges {
        height: 26.5625rem;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;

        &::-webkit-scrollbar {
            width: 0;
        }

        .challName {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .challengesByTag-challenge {
            width: 100%;
            height: 4.5rem;
            box-sizing: border-box;
            background: $theme-color-white;
            box-shadow: 0rem 0.125rem 0.625rem $theme-color-black-low-transp;
            border-radius: 0.1875rem;
            margin-top: 0.75rem;

            &:first-child {
                margin-top: 0rem;
            }

            &:hover:not(.disabled),
            &.selected {
                border: 0.125rem solid $theme-color-light-orange;

                .challengesByTag-challInfo {
                    color: $theme-color-light-orange;
                }
            }

            .maintenance-msg {
                position: absolute;

                display: none;
            }

            &.disabled div {
                opacity: 0.6;
            }

            .challengesByTag-challName {
                font-weight: 500;
                font-size: 1rem;
                margin: 0rem;
                padding: 0.75rem;
            }

            .challengesByTag-challInfo {
                font-size: 0.875rem;
                color: $theme-color-grey57;
                margin-top: -0.375rem;
                margin-left: 0.75rem;
            }

        }

        .challengesByTag-challenge:hover.disabled .maintenance-msg {
            display: block;
            position: absolute;
            opacity: 1;
            margin-left: 15%;
        }

    }
}