.manageChalConfirmBox {
    .vc-container {
        width: 30%;
        border-radius: 0.3125rem;

        .vc-text-grid {
            padding: 1.5rem;

            .vc-title {
                @extend %font-style-bold;
                text-align: left;
                font-size: 1.5rem;
                line-height: 1.25rem;
                margin-bottom: 1.25rem;
                padding: 0
            }

            .vc-text {
                text-align: left;
                font-family: $secondary-font-family;
                font-size: 1rem;
                line-height: 1.5rem;
                padding: 0;
            }
        }

        .vc-btn-grid {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding: 1.5rem;
            padding-top: 0;

            .vc-btn:not(.left) {
                @extend .action-cta;
                @extend .back-btn;
                padding: 0 0.5rem !important;
                margin-right: 1rem;
                min-width: 5rem;
            }


            .vc-btn.left {
                @extend .primary-cta;
                padding: 0 1rem !important;
            }

            .vc-btn{
                height: 2rem;
                display: flex;
                justify-content: center;
            }

        }

    }
}