.error-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .error-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        .error-img{
            margin-top: 20%;
            margin-bottom: 5%;
            width: 100%;
        }
        .error-msg{
            @extend %font-style-bold;
            font-size: 2rem;
            line-height: 2.5rem;
            color: $theme-color-grey-high-transp;
        }
    }
}

.received-error{
    margin-left: 0 !important;
    margin-bottom: 1rem;
    text-align: left;
    padding: 1rem 0.5rem !important;
}