%backgroundColor {
    background: #0c0b0e;
}

.user-lb-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .user-searchbar-div {
        width: 25rem;
    }
}
