.navbar {
  background-color: #fcfcfc;
  width: 100%;
  height: 2rem;
  display: flex;
  padding: 2.25rem 0;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .user-navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navbar-link {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .navbar-link {
    color: black;
    font-family: $primary-font-family;

    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $theme-color-black19;
    text-decoration: none;
    margin-right: 1.5rem;

    &:first-child {
      margin-left: 0rem;
    }

    .logo {
      img {
        height: 2rem;
      }
    }
  }

  .active {
    font-weight: bold;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 75%;
      border-bottom: 0.125rem solid $theme-color-black19;
    }
  }

  .navbar-link-current-page {
    color: $theme-color-black19;
    font-weight: bold;
  }

  .nav-timer {
    margin-left: 20%;
    font-family: $primary-font-family;
    margin-top: -0.75rem;
    font-size: 0.75rem;
    color: $theme-color-grey39;
    line-height: 0.5rem;
  }

  .dropdown {
    margin-left: 2.75rem;
  }

  .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .teamName {
    color: $theme-color-violet;
    font-weight: 600;
    margin-right: 0.4375rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 9.375rem;
  }

  .dropdown-link {
    color: black;
    float: none;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-registration {
    width: 8.0625rem;
  }

  .navbar-already-registered {
    font-size: 0.875rem;
    color: $theme-color-grey39;
    font: $secondary-font-family;
    margin: 0rem;
    line-height: 1.5rem;
    vertical-align: super;
  }

  .login-link {
    font-size: 0.875rem;
    font-weight: bold;
    color: $theme-color-violet;
    text-decoration: none;
  }
}

.bold {
  @extend %font-style-bold;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width:1450px) {
  .navbar-link{
    margin-right: 0.75rem !important;
  }
}
