.notification {
    .heading {
        font-size: 1.5rem;
        font-weight: 900;
        font-family: $primary-font-family;
        line-height: 1.75rem;
        color: #d7d6d7;
        text-align: left;
    }

    .user-notif-tabs {
        margin-top: 4%;
    }
}