.adminConfigureContainer,
.landingInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .preview-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.875rem;
        line-height: 1.75rem;
        height: 2rem;
        width: 7rem;
        background: $theme-color-white;
        border: 1.0.3125rem solid $theme-color-grey39;
        box-sizing: border-box;
        box-shadow: 0 0.125rem 0.625rem $theme-color-blue-low-transp;
        border-radius: 0.1875rem;
        outline: none;

        .preview {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
    }

    .heading {
        @extend %font-style-bold;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;

        .headingText {
            margin-right: 2rem;
        }


        .addConfigFeedback {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .form {
        margin-top: 1.875rem;
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .fields {
        text-align: left;
        font-family: $primary-font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin: 0.2rem;
        margin-left: 0;
    }

    .subfields-row {
        width: 100%;
        display: flex;
        align-items: center;
        height: 1.5rem;
    }

    .counter {
        @extend %font-style-basic;
        font-size: 0.75rem;
        color: $theme-color-violet;
        margin-left: auto;
        display: none;
    }

    .subfields {
        font-size: 0.75rem;
        text-align: left;
        font-family: $primary-font-family;
        font-style: normal;
        font-weight: 600;
        line-height: 1.125rem;
        margin: 0.2rem;
        margin-left: 0;
    }

    .confirmation {
        @extend %font-style-basic;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .submitButton {
        background-color: $theme-color-dark-orange;
        border-radius: 0.125rem;
        color: $theme-color-white;
        font-family: $primary-font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.75rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        margin-left: auto;

        &:disabled {
            background: $theme-color-light-grey-d7;
            box-shadow: none;
            color: $theme-color-grey39;
        }
    }



    .title {
        height: 2.5rem;
        border-radius: 0.3125rem;
        border: 0.0625rem solid $theme-color-grey-high-transp;
        padding-left: 1rem;
        @extend %font-style-basic;
        margin-bottom: 0.625rem;
    }

    .title::placeholder {
        @extend %font-style-basic;
        color: $theme-color-grey-high-transp;
    }

    .title:focus {
        border: 1.0.3125rem solid $theme-color-violet;
        box-shadow: 0 0.125rem 0.625rem $theme-color-blue-low-transp;
    }

    textarea {
        box-sizing: border-box;
        height: 6rem;
        border-radius: 0.3125rem;
        border: 0.0625rem solid $theme-color-grey-high-transp;
        @extend %font-style-basic;
        margin-bottom: 2%;
        width: 100%;
        padding-left: 1rem;
        padding-top: 1rem;
    }


    textarea::placeholder {
        font-family: $primary-font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.125rem;
    }

    textarea:focus,
    .title:focus {
        outline: none !important;
        border: 0.125rem solid $theme-color-violet;
    }

    .notifTabs {
        margin-top: 2.5rem;
        height: 43rem;
        overflow-y: scroll;
    }

    .notifTabs::-webkit-scrollbar {
        display: none;
    }

    .uploadRow {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        .filename {
            @extend %font-style-basic;
            border: 0.1rem solid rgba(87, 87, 87, 0.57);
            box-sizing: border-box;
            box-shadow: 0px 0.125rem 0.625rem rgba(37, 85, 124, 0.1);
            border-radius: 1.25rem;
            display: flex;
            align-items: center;
            color: rgba(25, 25, 25, 0.57);
            height: 2rem;
            padding: 0 1rem;
            position: absolute;
            margin-left: 9rem;

            img {
                padding-left: 0.5rem;
                height: 0.8rem;
            }
        }

        .upload-feedback {
            height: 1.5rem;
            position: absolute;
            margin-left: 20%;
        }
    }

    .logoUpload {
        border: 1.5px solid #393939;
        box-sizing: border-box;
        box-shadow: 0px 2px 10px rgba(37, 85, 124, 0.1);
        border-radius: 3px;
        width: 7rem;
        height: 2rem;

        label {
            height: 100%;
            @extend %font-style-basic;
            font-size: 0.875rem;
            line-height: 1.125rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background: $theme-color-white;
            align-items: center
        }
    }

    .importantField {
        color: red;
    }

    .time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .timeSub {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 48%;

            .dateInput {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .timeInput {
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .title {
                width: 75%;
            }
        }
    }

    .timezoneSelect {
        outline: none;
    }
}

.adminConfigureContainer {
    .upload-preview {
        height: 5rem;
        position: absolute;
        right: 25%;
    }
}

.landingInput {
    .upload-preview {
        height: 5rem;
        position: absolute;
        right: 0;
    }
}

// .themes {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;

//     .sub-themes {
//         border: 0cm;
//         background: none;
//         display: flex;
//         flex-direction: column;

//         .block {
//             width: 7.5rem;
//             height: 85.33px;
//             background: #c4c4c4;
//             border: none;
//         }

//         .block:focus {
//             border: 0.125rem solid $theme-color-dark-orange;
//             box-sizing: border-box;
//         }
//     }
// }

.v-select-disabled {
    pointer-events: none;
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5;
}

.configureContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.1rem;
}