.adminFooter {
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  height: 12.75rem;
  background-color: $theme-color-dark-white;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 60%;
}

.platformName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adminFooterTitle {
  text-align: left;
  vertical-align: middle;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.adminFooterContact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adminFooterMessage {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2rem;
}

.adminFooterLink {
  @extend %font-style-bold;
  font-size: 1rem;
  line-height: 2rem;
  margin-left: 0.625rem;
  color: $theme-color-violet;
  text-decoration: none;
}

.adminFooterLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adminFooterContactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5625rem;
}

#admin-layout {
  min-height: 100vh;
  position: relative;
  width: 100%;
}