.adminChalLink {
    width: 44%;
    text-decoration: none;
    height: 60px;
    border-radius: 3px;
    padding: 10px 10px;
    box-shadow: 0px 2px 10px rgba(57, 57, 57, 0.1);
    margin-bottom: 12px;
    .adChalItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .adChalDetails {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
            .adChalName {
                @extend %font-style-basic;
                font-size: 16px;
                line-height: 18px;
            }

            .adChalCategory {
                text-align: center;
                vertical-align: middle;
                background: #593c8f;
                border-radius: 2px;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                color: #ffffff;
                padding: 4px 10px;
                margin-left: 10px;
            }

            .adChalStatus {
                @extend %font-style-basic;
                font-weight: 300;
                line-height: 14px;
                text-align: right;
                color: #575757;
                margin-left: auto;
            }
        }

        .adChalStats {
            display: flex;
            flex-direction: row;
            @extend %font-style-basic;
            font-size: 16px;
            line-height: 18px;
            color: rgba(57, 57, 57, 0.57);

            .adChalPoints {
                border-right: 2px solid rgba(57, 57, 57, 0.57);
                padding-right: 5px;
            }

            .adChalSolves {
                padding-left: 5px;
            }
        }
    }
}

.deployedLink{
    border-left: 5px solid lightgreen;
}

.purgedLink{
    border-left: 5px solid red;
}

.undeployedLink{
    border-left: 5px solid yellow;
}