.adminHeadingColor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.adminHeadingColor {
  width: 192rem/$root-base-size;
  height: 28rem/$root-base-size;
}

.adminLbSearchDiv {
  width: 60%;
  margin: 2% 20%;
}

.lineGraph {
  padding-top: 1rem;
}