.adminUserInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-self: center;
    background: $theme-color-white;
    box-shadow: 0 0.375rem 0.625rem $theme-color-grey-low-transp;
    border-radius: 0.3125rem;
    font-family: $primary-font-family;
    
    margin-bottom: 2.5rem;

    .user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 2rem;
    }

    .userDetails {
        display: flex;
        flex-direction: column;
    }

    .userName {
        display: flex;
        flex-direction: row;
        align-items: center;

        .name {
            @extend %font-style-bold;
            font-size: 1.5rem;
            color: $theme-color-black19;
        }

        .mailImg {
            width: 1rem;
            width: 12.0.5rem;
            margin-left: 0.9375rem;
            margin-right: 0.9375rem;
        }

        .contact {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: $theme-color-grey39;
        }
    }

    .rankScore {
        display: flex;
        flex-direction: row;
        margin-top: 1.25rem;

        .score {
            border-left: 0.125rem solid $theme-color-grey-high-transp;
            padding: 0.625rem;
            padding-top: 0;
            display: flex;
            flex-direction: column;
        }

        .rank {
            display: flex;
            flex-direction: column;
            padding: 0.625rem;
            padding-top: 0;
        }
    }

    .userStatus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .status {
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.75rem;
            text-align: right;

        }

        .banned {
            color: $theme-color-red-high-transp;
        }

        .unbanned {
            color: $theme-color-green-high-transp;
        }


    }

    .value {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
        color: $theme-color-black19;
    }

    .field {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.125rem;
        text-align: center;
        color: $theme-color-grey57;
    }
}

.adminBanButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: $theme-color-white;
    border: 1.0.3125rem solid $theme-color-grey39;
    box-sizing: border-box;
    box-shadow: 0 0.125rem 0.625rem $theme-color-blue-low-transp;
    border-radius: 0.1875rem;
    padding: 0.3125rem 0.9375rem;
    margin: 0 0.2rem;

    .adminBanText {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $theme-color-grey39;
        margin-left: 0.2rem;
    }
}

.adminBanButton:hover {
    background: $theme-color-grey39;

    .banImg {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(115deg) brightness(99%) contrast(103%);
    }
}

.adminBanButton:hover .adminBanText {
    color: $theme-color-white;
}