.adSubContainer {
  width: 80%;
  margin-left: 10%;
}

.adSubHeaderComponent {
  text-align: left;
  @extend %font-style-bold;
  font-size: 24rem/$root-base-size;
  text-transform: uppercase;
  color: #191919;
}