.button {
    padding: 0.375rem 2rem;
    border: none;
    height: 2.5rem;
    background: #FF6700;
    box-shadow: 0rem 0.375rem 0.625rem rgba(255, 103, 0, 0.3);
    border-radius: 0.1875rem;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #FFFFFF;

    &:disabled {
        background: #D7D7D7;
        box-shadow: none;
        line-height: 1.5rem;
        color: #393939;
    }
}