.button {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    background: #FF6700;
    box-shadow: 0rem 0.375rem 0.625rem rgba(255, 103, 0, 0.3);
    border-radius: 0.1875rem;
    padding: 0.625rem 2rem;
}