.challenge {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;

    .chall-tags {
        display: flex;
        flex-direction: column;
        padding-top: 12rem;
        .tags {
            display: flex;
            flex-direction: column;
            width: 4.375rem;
            text-align: left;
            align-items: flex-end;
            justify-content: flex-start;
            .tag {
                font-family: $primary-font-family;
                font-weight: normal;
                font-size: 1rem;
                color: rgba(87, 87, 87, 0.75);
                margin-bottom: 2rem;
                padding-right: 1rem;
            }

            .tag .selected {
                font-weight: bold;
                color: $theme-color-black19;
                border-right: 0.125rem solid $theme-color-dark-orange;
            }
        }
    }

    .chall-details {
        display: flex;
        flex-direction: column;
        .chall {
            display: flex;
            flex-direction: row;
            margin-top: 1.125rem;
        }
    }
}