.challCard {
    box-sizing: border-box;
    text-align: left;
    width: 70%;
    margin-top: 1.75rem;
    background: $theme-color-white;
    margin-left: 1.5rem;
    margin-bottom: auto;
    padding: 1.5rem 1.25rem 1.75rem;
    box-shadow: 0rem 0.375rem 0.625rem $theme-color-grey-low-transp;
    margin-top: 2rem;

    .submit-feedback {
        display: flex;
        justify-content: center;

        img {
            margin-bottom: -25%;
        }
    }

    .challCard-firstLine {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5%;

        .chall-submitted {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;

            span {
                margin: 0 0.5rem;
                @extend %font-style-basic;
                
                font-size: 0.75rem;
                line-height: 1rem;
            }

            img {
                width: 1rem;
                height: 1rem;
            }
        }

        .challCard-challName {
            font-family: $primary-font-family;

            font-weight: bold;
            font-size: 1.5rem;
            color: $theme-color-black19;
        }

        .challCard-tag {
            padding: 0.0625rem 0.375rem;
            background: $theme-color-violet;
            border-radius: 0.125rem;
            font-family: $secondary-font-family;

            font-weight: bold;
            height: 1.125rem;
            line-height: 1.125rem;
            font-size: 0.75rem;
            color: $theme-color-white;
            margin-left: 1rem;
            vertical-align: text-bottom;
        }

        .challCard-bookmark {
            margin-left: auto;
            display: flex;
            flex-direction: row-reverse;

            .challCard-review {
                margin-right: 0.75rem;
                font-family: $primary-font-family;

                
                font-size: 0.75rem;
                line-height: 1.125rem;
                display: flex;
                align-items: center;
                text-align: right;
                color: $theme-color-grey39;
            }
        }
    }

    .challCard-solves {
        margin-top: 0.875rem;
        font-family: $primary-font-family;

        
        font-size: 1rem;
        line-height: 1.125rem;
        align-items: center;
        color: $theme-color-grey39;
    }

    .challCard-challDesc {
        font-family: $secondary-font-family;

        
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $theme-color-grey39;
        margin-top: 1rem;
    }

    .challCard-resources {
        font-family: $secondary-font-family;

        
        font-size: 0.875rem;
        display: inline-block;
        line-height: 1rem;

        .challCard-challPort {
            margin-top: 0.625rem;
            color: $theme-color-grey39;
        }

        .challCard-challLink {
            margin-top: 0.625rem;
            color: $theme-color-violet;
            text-decoration: none;
        }

        .challCard-challItem {
            display: inline-block;
            margin-top: 0.875rem;
            padding: 0.5rem 0.75rem;
            height: 2rem;
            border: 0.0625rem solid #604195;
            box-sizing: border-box;
            border-radius: 0.1875rem;
            text-decoration: none;
            font-family: $primary-font-family;

            font-weight: 600;

            .challCard-challItem-download {
                margin-right: 0.25rem;
                vertical-align: middle;
            }
        }
    }

    .challCard-bottom-row {

        margin-top: 1rem;
        height: 4rem;

        .challCard-form {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;

            .challCard-form-input {
                background: $theme-color-offwhite;
                box-shadow: inset 0rem 0.375rem 0.625rem rgba(0, 0, 0, 0.05);
                border-radius: 0.3125rem;
                height: 2rem;
                width: 65%;
                font-family: $primary-font-family;

                font-weight: 600;
                font-size: 0.875rem;
                line-height: 1.5rem;
                padding: 0rem 0.75rem;
                color: #B3B3B3;
                border: none;
            }

            .challCard-form-submit-button {
                width: 30%;
                transform: scale(0.8);
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                margin-left: auto;
            }
        }

        .challCard-report {
            margin-left: auto;
            margin-top: 0.25rem;
            font-family: $primary-font-family;

            
            font-size: 0.75rem;
            line-height: 1.125rem;
            display: flex;
            align-items: center;
            color: $theme-color-grey57;

            .challCard-report-bug {
                margin-left: 0.5rem;
            }
        }
    }
}

.preview-challcard {
    margin: 0;
    width: 100%
}