.manageChalConfirmBox {
    .vc-container {
        width: 30%;
        border-radius: 0.3125rem;

        .vc-text-grid {
            padding: 1.5rem;

            .vc-title {
                @extend %font-style-bold;
                text-align: left;
                font-size: 1.5rem;
                line-height: 1.25rem;
                margin-bottom: 1.25rem;
                padding: 0
            }

            .vc-text {
                text-align: left;
                font-family: 'Open Sans';
                
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.5rem;
                padding: 0;
            }
        }

        .vc-btn-grid {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding: 1.5rem;
            padding-top: 0;

            .vc-btn {
                margin-right: 1.25rem;
                height: 44rem/$root-base-size;
                min-width: 75rem/$root-base-size;
                @extend %font-style-bold;
                background: $theme-color-white;
                border: 0.0625rem solid $theme-color-grey39;
                box-sizing: border-box;
                border-radius: 0.25rem;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.5rem;
                color: $theme-color-grey39;
                padding: 0 1.25rem;

            }

            .vc-btn:hover {
                color: $theme-color-white;
                background: $theme-color-grey39;
            }

            .vc-btn.left {
                background: $theme-color-dark-orange;
                border: none;
                color: $theme-color-white;
            }

            .vc-btn.left:hover {
                border: 0.0625rem solid $theme-color-dark-orange;
                color: $theme-color-dark-orange;
                background: $theme-color-white;
            }
        }

    }
}