.create-chall-modal {
    margin: 15rem 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    .create-chall-modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heading{
            @extend %font-style-bold;
            color: $theme-color-black19;
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }
}

.submitButton {
    background-color: $theme-color-dark-orange;
    border-radius: 0.125rem;
    color: $theme-color-white;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    margin-left: auto;
}
