.error-box {
    .error {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: 1.2rem;
        margin-left: 2.5rem;
        padding: 0.2rem 3rem;
        align-self: center;
        font-size: 0.85rem;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 0.2rem;
        width: auto;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .errorImg {
            padding-right: 1rem;
        }
    }
}