.footer {
    height: 12.75rem;
    background-color: $theme-color-dark-white;
    padding: 0rem 15.75rem;
    margin-top: 4.5rem;
    bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footer-about {
        text-align: left;
        font-family: $primary-font-family;

        .footer-about-beast {
            font-weight: 900;
            font-size: 2rem;
            line-height: 1.5rem;
            color: $theme-color-black19;
        }

        .footer-about-reach {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 2rem;
            color: $theme-color-grey39;
        }

        .footer-about-reach-reachus {
            font-weight: bold;
            font-size: 1rem;
            line-height: 2rem;
            color: $theme-color-violet;
            text-decoration: none;
            margin-left: 0.3125rem;
        }
    }

    .footer-contact {
        width: 6.875rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-content: center;

        .footer-contact-sds-logo {
            margin-bottom: 0.9375rem;
        }

        .footer-contact-info {
            display: flex;
            justify-content: space-between;
        }
    }
}