.home {
    width: 100%;
}

.event {
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

    .event-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .event-info-text {
            width: 60%;

            .tagline {
                @extend %font-style-basic;
                font-weight: 800;
                font-size: 3rem;
                line-height: 3rem;
                color: $theme-color-grey39;
                margin-bottom: 1rem;
            }

            .timing {
                @extend %font-style-basic;
                font-size: 1rem;
                line-height: 2rem;
                margin: 0.5rem 0;
            }
        }

        .event-info-img {
            width: 40%;
            margin-top: auto;
            margin-bottom: auto;
        }

    }

    .landing-img {
        width: 100%;
    }

    .prize-info {
        margin-top: 8rem;
        margin-bottom: 8rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .prize-info-text {
            width: 60%;
        }

        .prize-info-img {
            width: 40%;
            padding-right: 12.5%;
        }

        .heading {
            font-weight: 800;
            font-family: $primary-font-family;
            font-size: 3rem;
            line-height: 4.5rem;
            color: $theme-color-grey39;
        }


    }
}

.description {
    font-size: 1.25rem;
    font-family: $secondary-font-family;
    color: $theme-color-grey57;
    margin-top: 0.5rem;
}





.img2 {}

// .img1 {
//     position: absolute;
//     width: 22.25rem;
//     height: 38.25rem;
//     left: 52.125rem;
//     top: -4.6875rem;
//     z-index: -1;
// }

// .img2 {
//     width: 19.25rem;
//     height: 29.0019rem;
//     margin-left: -43.75rem;
//     margin-top: -16.25rem;
//     z-index: -1;
// }

// .learn-more-dropdown {
//     font-weight: bold;
//     font-size: 1rem;
//     line-height: 1.5rem;
//     color: $theme-color-violet;
//     margin-top: 1rem;
// }