%backgroundColor {
    background: #E7E7E7;
}

.leaderboard {
    margin-left: 21.8125rem;
    text-align: left;
    .heading {
        font-family: $primary-font-family;
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 900;
        color: #FF6700;
        .board {
            color: black;
        }
    }
    .leaderboardTable {
        width: 40.5rem;
        border-collapse: collapse;
        tr {
            height: 2rem;


        }
        tr:nth-child(2n+1) {
            @extend %backgroundColor;
        }
        .number {
            display: inline-block;
            padding: 0.25rem 0.625rem;
            color: #FFF;
            border-radius: 0.25rem;
            background: #44475C;
            margin: 0rem 0.3125rem;
            cursor: pointer;
          }
    }
}