.navbar {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1.25rem;
    width: 65%;
    .logo {
        width: 4.5rem;
        height: 1.5rem;
        top: 1.25rem;
        display: block;
        background-color: #000000;
    }
    
    .navbar-container {
        display: block;
    }
    
    .navbar-link {
        color: black;
        font-family: $primary-font-family;
        font-weight: normal;
        font-size: 0.875rem;
        color: #575757;
        text-decoration: none;
        margin-left: 1.5rem;
    }
    
    .navbar-link:active {
        font-weight: bold;
    }
    
    .nav-timer {
        font-family: $primary-font-family;
        margin-right: 405;
        margin-top: -1.25rem;
        font-size: 0.75rem;
        line-height: 1.25rem;
        color: #393939;
        margin-left: 14.5625rem;
    }
    
    .timer {
        font-size: 0.875rem;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
        text-align: right;
      }
      
    .dropbtn {
        font-size: 1rem;  
        border: none;
        outline: none;
        color: black;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .teamName {
        color: #593C8F;
        font-weight: 600;
        margin-right: 7px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 9.375rem;
    }
    
    .dropdown-link {
        color: black;
        float: none;
        padding: 0.75rem 1rem;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .loggedOut {
        font-size: 0.875rem;
        font-weight: bold;
        margin-left: 49.5rem;
        color: #593C8F;
        text-decoration: none;
    }
}

@media only screen and (max-width:1280px) {
    .navbar {
        width: 100%;
    }
}