.notification {
    margin-top: 4.75rem;

    .heading {
        font-size: 1.5rem;
        font-weight: 900;
        font-family: $primary-font-family;
        line-height: 1.75rem;
        color: $theme-color-black19;
        text-align: left;
    }

    .user-notif-tabs {
        margin-top: 4%;
        height: 30rem;
        overflow-y: scroll;
    }

    .user-notif-tabs::-webkit-scrollbar {
        display: none;
    }
}