.modal-overlay {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 90;
    background-color: #56565660;
}

.modal {
    margin: 8rem 13rem;
    background-color: white;
    max-height: 75vh;
    overflow-y: scroll;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    font-weight: 700;
    font-family: $primary-font-family;
    font-size: 1.5rem;
    border-bottom: 0.0625rem solid rgba(87, 87, 87, 0.7);

}

.modal-close-button {
    border: none;
    background-color: white;
}

.modal-body {
    padding: 4rem calc(10rem * 1440 / 1980);
}