.register {
    width: 100%;

    .register-heading {
        font-family: $primary-font-family;
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 2.75rem;
        color: $theme-color-grey39;
        text-align: left;

        .switch {
            color: $theme-color-dark-orange;
        }
    }

    .register-form-div {
        width: 100%;
        margin-left: 0rem;
        margin-top: 0.75rem;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .register-form {
            width: 35%;

            .error {
                font-size: 0.85rem;
                color: #D72C27;
                display: flex;
                flex-direction: row;
                .errImg {
                    padding-right: 0.6rem;
                }
            }

            .register-inputField {
                width: 100%;
                height: 3rem;
                margin-top: 1.75rem;
                padding: 1rem;
                background: $theme-color-white;
                border: 0.0313rem solid $theme-color-grey-high-transp;
                box-sizing: border-box;
                border-radius: 0.1875rem;
                font-family: $primary-font-family;

                font-weight: 600;
                font-size: 1rem;
                line-height: 1.125rem;
                color: $theme-color-grey-high-transp;

                &:focus {
                    outline: none !important;
                    border: 0.125rem solid $theme-color-violet;
                }
            }
        }

        .register-image {
            width: 60%;
        }
    }
}