.stats {
    margin-left: auto;
    text-align: left;
    font-family: $primary-font-family, sans-serif;
    width: 52.5rem;
    height: 7rem;
    display: flex;
    background: $theme-color-white;
    box-shadow: 0rem 0.375rem 0.625rem $theme-color-grey-low-transp;
    border-radius: 0.3125rem;
    position: relative;

    .rank {
        width: 16.5rem;
        background: $theme-color-light-orange;
        border-radius: 0.3125rem 0rem 0rem 0.3125rem;
        color: $theme-color-white !important;
        text-align: center;
        margin-right: 3.75rem;

        .text {
            font-weight: normal;
            font-size: 1.5rem;
            margin-bottom: auto;
        }

        .number {
            font-weight: bold;
            font-size: 2rem;
            margin: auto;
        }
    }

    .dynamicStats {
        color: $theme-color-grey39;
        margin-left: 3rem;
        text-align: center;

        .number {
            font-weight: 600;
            font-size: 1.5rem;
        }

        .text {
            font-weight: normal;
            font-size: 0.875rem;
            margin-top: -1.25rem;
        }
    }

    .image {
        height: 8.1875rem;
        width: 7.75rem;
        position: absolute;
        left: 446.53+16.5rem;
        top: -1.125rem;
    }
}